<aside id="info_banner" >
    Internetová stránka Ranču Transylwahnja sprístupňuje informácie o chove koní, komposte, ekologickom
    poľnohospodárstve a výrobe domácich potravín rodiny Pipovcov. Uplatňuje princípy <a href="http://www.agrowebcee.net" target="_blank"><b>AgroWeb Networku</b></a>, ktorého cieľom je výmena
    skúseností medzi agro-ekologicky zameranými ľuďmi, organizáciami a farmami produkujúcimi biopotraviny.
</aside>
<section id="main_content">
    <h2>Čo nového na ranči</h2>
    <article class="newsflash">
        <a href="javascript:popImage('foto/2019april.jpg',':: RANČ TRANSYLWAHNJA :: ','');">
            <img src="2019april_m.jpg" alt="Západ slnka" style="
border-radius: 5px;
">
        </a>
        <time datetime="2019-04-01" style="
position: absolute;
left: 133px;
">apríl 2019</time>
        <h2>Nesnívaj o svojom živote, ale ži svoj sen</h2>
    </article>
    <article class="newsflash">
        <a href="javascript:popImage('foto/kone-perseus1.jpg',':: RANČ TRANSYLWAHNJA :: ','');">
            <img src="kone-perseus1_m.jpg" alt="Perzeus" style="
            border-radius: 5px;
        ">
        </a>
        <time datetime="2019-04-01" style="
position: absolute;
left: 133px;
">apríl 2019</time>
        <h2>Na ranč prichádza Perzeus</h2>
        <p style="
width: 801px;
">Nový úžasný kôň, ktorého sme si osvojili priamo z aktívneho mezinárodného
            Military sportu. Či krása v drezúre, prechádzky vo výške 170cm alebo
            vytrvalosť v teréne, to je Perzeus.
            Teraz, po spoľahlivo odpracovaných 18 rokoch si môže užívať konský raj na
            ranči. Ďalšie fotky nájdete v galérii.
        </p>
    </article>
    <article class="newsflash">
        <a href="javascript:popImage('foto/2019kravicka.jpg',':: RANČ TRANSYLWAHNJA :: ','');">
            <img src="2019kravicka_m.jpg" alt="Kravička" style="
            border-radius: 5px;
        ">
        </a>
        <time datetime="2019-04-01" style="
position: absolute;
left: 133px;
">Apríl 2019</time>
        <h2>Obnovujeme aj mliečnu produkciu</h2>
        <p>Na ranči sme privítali Jersey kravičku Barboru.</p>
    </article>
    <article class="newsflash">
        <a href="javascript:popImage('foto/2018jesen.jpg',':: RANČ TRANSYLWAHNJA :: ','');">
            <img src="2018jesen_m.jpg" alt="Jeseň 2018" style="
            border-radius: 5px;
        ">
        </a>
        <time datetime="2019-04-01" style="
position: absolute;
left: 133px;
">Október 2018</time>
        <h2>Opravené, upratané, oživené.</h2>
        <p>Užívame si prírodu. Prajeme všetkým zdravie a lásku v srdci.</p>
    </article>
    <article class="newsflash">
        <a href="javascript:popImage('foto/2018nakladne_auto.jpg',':: RANČ TRANSYLWAHNJA :: ','');">
            <img src="2018nakladne_auto_m.jpg" alt="" style="
            border-radius: 5px;
        ">
        </a>
        <time datetime="2019-04-01" style="
position: absolute;
left: 133px;
">Apríl 2019</time>
        <h2>Pracanti aj s novým 6 kolesovým pomocníkom z roku 1954</h2>
    </article>
    <article class="newsflash">
        <a href="javascript:popImage('foto/2018koniec_prenajmu.jpg',':: RANČ TRANSYLWAHNJA :: ','');">
            <img src="2018koniec_prenajmu_m.jpg" alt="" style="
            border-radius: 5px;
        ">
        </a>
        <time datetime="2019-04-01" style="
position: absolute;
left: 133px;
">Február 2017</time>
        
    </article>
</section>
<section class="pagination" style="
position: absolute;
left: 50%;
">
<h1 style="
position: absolute;
right: -29px;
top: -49px;
">Archív noviniek</h1>
    <p>
        1 | <a href="ranc.php?page_id=2">2</a> | <a href="ranc.php?page_id=3">3</a>
    </p>
</section>
